.item {
  border-radius: 2px;


  p {
    padding: 5px;
    color: #151515;

    &.title {
      font-weight: bold;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &.desc {
      padding-left: 1.2em;
    }
  }
}

$first: rgb(251, 156, 73);
.bg-0 {
  background-color: $first;
}

$second: rgb(114, 190, 91);
.bg-1 {
  background-color: $second;
}

$third: rgb(224, 113, 106);
.bg-2 {
  background-color: $third;
}

$fourth: rgb(83, 170, 203);
.bg-3 {
  background-color: $fourth;
}
