<section class="hero">
  <div class="container">
    <h2 class="text-center">La meilleure façon de trouver un emploi chez nous</h2>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Rechercher par poste..." #searchtext (keypress)="submitHandler($event, searchtext.value)"><!--
      --><span class="input-group-btn"><button type="button" class="btn btn-primary" (click)="search(searchtext.value)">Rechercher</button></span>
    </div>
  </div>
</section>

<div class="container">
  <h3>Liste des emplois</h3>

  <div *ngIf="currentUser !== null">
    <jobs-form></jobs-form>
  </div>

  <ul class="ui-list" *ngIf="hasAtLeastOneJob()">
    <li *ngFor="#job of jobs; #jobIndex = index" [className]="'item bg-' + (jobIndex % 4)">
      <p class="pull-right">{{job.location}}</p>
      <p class="title"><a [routerLink]="['/JobDetails', {jobId: job._id}]">{{ job.name }}</a></p>
      <p class="desc">{{ job.description }}</p>
      <button *ngIf="currentUser !== null" (click)="removeJob(job)">Supprimer</button>
    </li>
  </ul>

  <p class="title--large text-center" *ngIf="hasAtLeastOneJob() === false">Pas de poste à pourvoir pour l'instant</p>
</div>

<div class="container">
  <h3>Qui sommes-nous ?</h3>
  <div class="border-width"></div>
  <p class="intro">{{ description }}</p>
</div>
