/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
%container {
    @extend %clearfix;
    margin: 0 auto;
}

%container-padding {
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

.container {
    @extend %container;
    @extend %container-padding;
    width: 100%;
    @include media-breakpoint-up(sm) {
        max-width: 34em;
    }
    @include media-breakpoint-up(md) {
        max-width: 48.063em;
    }
    @media (min-width: 58.75em) {
        max-width: 58.75em;
    }
    @media (min-width: 71.25em) {
        max-width: 71.25em;
    }

    &-fluid {
        @extend %container;
        @extend %container-padding;
        width: 100%;
    }

    &-flex {
        display: flex;
        flex-wrap: wrap;

        > * {
            width: 100%;
        }
    }

    &--3-4 {
        @extend %container;
        @extend %container-padding;
        @include media-breakpoint-up(sm) {
            max-width: 75%;
        }
    }
}

