/*------------------------------------*\
    #TEXT MODIFIER
\*------------------------------------*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.title--large,
%title--large {
  @include font-size($font-size--wolverine);
  font-family: $font-brand-family;
}
