/*------------------------------------*\
    #SPACING
\*------------------------------------*/

$base-line-height:            1;

$base-spacing-unit:           $base-line-height;
$base-spacing-unit--tiny:     .79;
$base-spacing-unit--small:    .889;
$base-spacing-unit--medium:   1.125;
$base-spacing-unit--large:    1.266;
$base-spacing-unit--huge:     1.424;
